<br />
<div class="container">
  <div class="row">
    <div class="col-12 azul">
      <div class="card">
        <div class="card-body">
          <h3><i class="fas fa-archive fa-sm"></i> Acessory Register</h3>
          <br />

          <div class="row">
            <div class="col-6">
              <div class="input-group mb-3">
                <input
                  (keyup)="findByName()"
                  [(ngModel)]="search"
                  type="text"
                  class="form-control"
                  placeholder="Type your acessory name"
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="alinharADireita">
                @if(!modeModal){
                <a href="admin/acessories/new" class="btn btn-success btn-rounded" mdbRippled>
                  <i class="fas fa-plus fa-sm"></i> New
                </a>
                }
              </div>
            </div>
          </div>

          <ngb-pagination
            (pageChange)="findAll()"
            [pageSize]="page.size"
            [collectionSize]="page.totalElements"
            [(page)]="numPage"
            [boundaryLinks]="true"
          />

          <select
            (change)="findAll()"
            class="form-control"
            [(ngModel)]="qtdePerPage"
            name="adkfj"
            id=""
          >
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="1000">1000</option>
          </select>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              @for (acessory of list; track $index) {
              <tr>
                <td>{{ acessory.id }}</td>
                <td>{{ acessory.name }}</td>
                <td>{{ acessory.description }}</td>
                <td class="alinharADireita">
                  @if(!modeModal){
                  <a
                    href="admin/acessories/edit/{{ acessory.id }}"
                    class="btn btn-primary btn-rounded"
                    mdbRippled
                  >
                    <i class="fas fa-pencil fa-sm"></i>
                  </a>
                  <button
                    (click)="deleteById(acessory)"
                    class="btn btn-danger btn-rounded"
                    mdbRippled
                  >
                    <i class="fas fa-trash fa-sm"></i>
                  </button>
                  }@else {
                  <button (click)="select(acessory)" class="btn btn-success btn-rounded" mdbRippled>
                    Select
                  </button>
                  }
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
