// .navbar {
//   padding-top: 0.25rem !important;
//   padding-bottom: 0.25rem !important;
// }

// .navbar-brand {
//   font-size: 1rem;
// }

// .navbar-nav .nav-link {
//   padding-top: 0.25rem !important;
//   padding-bottom: 0.25rem !important;
//   font-size: 0.9rem;
// }

.navbar {
  .navbar-brand {
    transition: color 0.2s ease;
    &:hover {
      color: #ffca28 !important;
    }
  }

  .cart-icon-link {
    position: relative;
    color: #fff !important;
    transition: transform 0.2s ease, color 0.2s ease;

    &:hover {
      color: #ffca28 !important;
      transform: scale(1.1);
    }
  }

  .cart-badge {
    position: absolute;
    top: 2px;
    right: -10px;
    background-color: #ff5252;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    animation: pop 0.3s ease;
  }

  @keyframes pop {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}
