.navbar {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.navbar-brand {
  font-size: 1rem;
}

.navbar-nav .nav-link {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  font-size: 0.9rem;
}
