<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg col-md-8 col-sm-10">
      <div>
        <form #form="ngForm" (ngSubmit)="save()">
          <div class="card-body">
            <mdb-form-control class="mb-3">
              <input
                mdbInput
                type="text"
                id="carName"
                class="form-control"
                name="carName"
                [(ngModel)]="car.name"
                required
              />
              <label mdbLabel class="form-label" for="carName" required>Name</label>
            </mdb-form-control>

            <mdb-form-control class="mb-3">
              <input
                mdbInput
                type="text"
                id="carColor"
                name="carColor"
                class="form-control"
                [(ngModel)]="car.color"
                required
              />
              <label mdbLabel class="form-label" for="carColor" required>Color</label>
            </mdb-form-control>

            <mdb-form-control class="mb-3">
              <input
                mdbInput
                type="number"
                id="carPrice"
                name="carPrice"
                class="form-control"
                [(ngModel)]="car.price"
              />
              <label mdbLabel class="form-label" for="carPrice">Price</label>
            </mdb-form-control>
            <mdb-form-control class="mb-3">
              <input
                mdbInput
                type="number"
                id="accessoryPriceMultiplier"
                name="accessoryPriceMultiplier"
                class="form-control"
                [(ngModel)]="car.accessoryPriceMultiplier"
              />
              <label mdbLabel class="form-label" for="accessoryPriceMultiplier"
                >Acessory Multiplier</label
              >
            </mdb-form-control>
            <mdb-form-control class="mb-3">
              <input
                mdbInput
                type="number"
                id="carYear"
                name="carYear"
                class="form-control"
                [(ngModel)]="car.manufactureYear"
                required
              />
              <label mdbLabel class="form-label" for="carYear" required>Year</label>
            </mdb-form-control>

            <div class="mb-3 p-3 border rounded">
              @if(car.brand == null){
              <p class="text-danger mb-2">Select a brand.</p>
              <button
                type="button"
                class="btn btn-primary btn-rounded w-100"
                mdbRipple
                (click)="searchBrand()"
              >
                <i class="fas fa-search me-2"></i> Buscar Marca
              </button>
              }@else {
              <p class="mb-2"><strong>Selected Brand:</strong></p>
              <div class="alert alert-primary p-2">
                {{ car.brand.name }}
              </div>
              <button
                type="button"
                class="btn btn-outline-primary btn-rounded w-100"
                mdbRipple
                (click)="searchBrand()"
              >
                <i class="fas fa-exchange-alt me-2"></i> Change Brand
              </button>
              }
            </div>

            <div class="p-3 border rounded">
              @if(car.acessories && car.acessories.length > 0) {
              <p class="mb-2"><strong>Linked acessories:</strong></p>
              <table class="table table-sm table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-center" style="width: 80px">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  @for (acessory of car.acessories; track acessory.id) {
                  <tr>
                    <td class="align-middle">{{ acessory.name }}</td>
                    <td class="text-center">
                      <button
                        type="button"
                        class="btn btn-sm btn-danger"
                        mdbRipple
                        (click)="unlinkAccessory(acessory)"
                        title="Remover Acessório"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
              } @else {
              <div class="alert alert-info" role="alert">None acessory linked</div>
              }

              <button
                type="button"
                class="btn btn-primary btn-rounded w-100 mt-2"
                mdbRipple
                (click)="searchAcessory()"
              >
                <i class="fas fa-search me-2"></i> Search/Add acessory
              </button>
            </div>
          </div>
          <div class="card-footer text-center">
            <button
              type="submit"
              class="btn btn-success btn-rounded w-100"
              mdbRipple
              [disabled]="!form.valid || car.brand == null"
            >
              <i class="fas fa-save me-2"></i> Save car
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #modalBrands>
  <div class="modal-header">
    <h5 class="modal-title" id="brandslist">Brands</h5>
    <button
      type="button"
      class="btn-close"
      data-mdb-ripple-init
      (click)="modalRef.close()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <app-brandslist [hiddenButtons]="true" (return)="brandReturn($event)"></app-brandslist>
  </div>
</ng-template>

<ng-template #modalAcessories>
  <div class="modal-header">
    <h5 class="modal-title" id="acessorieslist">Acessories</h5>
    <button
      type="button"
      class="btn-close"
      data-mdb-ripple-init
      (click)="modalRef.close()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <app-acessorieslist
      [hiddenButtons]="true"
      (return)="acessoryReturn($event)"
    ></app-acessorieslist>
  </div>
</ng-template>
