<br />
<div class="container">
  <div class="row">
    <div class="col-12 azul">
      <div class="card">
        <div class="card-body">
          @if(!modeModal){
          <h3><i class="fas fa-circle-notch fa-sm"></i> Brand Register</h3>
          <br />
          }

          <div class="row">
            <div class="col-6">
              <div class="input-group mb-3">
                <input
                  (keyup)="findByName()"
                  [(ngModel)]="search"
                  type="text"
                  class="form-control"
                  placeholder="Type the brand name to search"
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                />
              </div>
            </div>
            <div class="col-6">
              <!-- @if(loginService.hasRole('ADMIN')){ -->
              @if(!modeModal){
              <div>
                <a routerLink="/admin/brands/new" class="btn btn-success btn-rounded" mdbRippled>
                  <i class="fas fa-plus fa-sm"></i> New
                </a>
              </div>
              }
              <!-- } -->
            </div>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (brand of list; track $index) {
              <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.description }}</td>
                @if(hiddenButtons){
                <button
                  class="btn btn-sm btn-primary me-2"
                  mdbRipple
                  (click)="selectedBrand(brand)"
                >
                  Select
                </button>
                }@else {

                <button class="btn btn-sm btn-warning me-2" mdRipple (click)="editBrand(brand)">
                  Edit
                </button>
                <button class="btn btn-sm btn-danger" mdRipple (click)="deleteById(brand)">
                  Delete
                </button>
                }
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
