<div class="container vh-100 d-flex align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <h2 class="text-center mb-4">Login</h2>
      <div class="card">
        <div class="card-body">
          @if(errorMessage){
          <div class="alert-danger text-center btn-sm btn-rounded" role="alert">
            {{ errorMessage }}
          </div>
          <br />
          }
          <!-- <form #form="ngForm" (ngSubmit)="logar()"> -->
          <form #form="ngForm" (ngSubmit)="logar()">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                id="user"
                name="user"
                class="form-control"
                (input)="clearError()"
                required
                [(ngModel)]="login.username"
              />

              <label mdbLabel class="form-label" for="form1">User</label>
            </mdb-form-control>
            <br />
            <mdb-form-control>
              <input
                mdbInput
                type="password"
                id="password"
                name="password"
                class="form-control"
                required
                [(ngModel)]="login.password"
              />
              <label mdbLabel class="form-label" for="form1">Password</label>
            </mdb-form-control>
            <br />

            <button
              type="button"
              class="btn btn-primary btn-rounded w-100"
              name="login"
              type="submit"
              mdbRipple
              [disabled]="!form.valid"
              (click)="logar()"
            >
              Acessar
            </button>
          </form>
          <br />

          <!-- </form> -->
          <hr />
          <div class="text-center">
            <p>Não tem uma conta?</p>
            <button class="btn btn-outline-success btn-rounded" (click)="openRegisterModal()">
              Registrar-se
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalRegister>
  <div class="modal-header">
    <h5 class="modal-title">Novo Usuário</h5>
    <button type="button" class="btn-close" (click)="modalRef.close()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-register-form (return)="returnDetail($event)"></app-register-form>
  </div>
</ng-template>
