/* You can add global styles to this file, and also import other style files */
@use '@fortawesome/fontawesome-free/css/all.css';
@use 'mdb-angular-ui-kit/assets/scss/mdb.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #e6eaed;
}

.swal2-container {
  z-index: 20000 !important;
}
